<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Playwright Tests">
    <test name="Playwright Regression Tests">
        <classes>
            <class name="RegistrationTest"/>
            <class name="LoginTest"/>
            <class name="LogoutTest"/>
            <class name="OrderTest"/>
        </classes>
    </test>
</suite>
